.flex-container {
  width: 400px;
  height: 300px;
  margin: auto;
  display: flex;
  gap: 5px;
  background-color: #e4d1b9;
}

.flex-item {
  width: 25px;
  height: 50px;
  text-align: center;
}
.flex-item:nth-child(even) {
  background-color: #f68989;
}

.flex-item:nth-child(odd) {
  background-color: #c65d7b;
}

.flex-item:nth-child(1) {
    order: 3;
}

.flex-item:nth-child(2) {
  order: 4;
}

.flex-item:nth-child(3) {
  order: 1;
}

.flex-item:nth-child(4) {
  order: 2;
}