.flex-container {
  width: 400px;
  height: 300px;
  margin: auto;
  background-color: #e4d1b9;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.flex-item {
  width: 25px;
  height: 50px;
  text-align: center;
}
.flex-item:nth-child(even) {
  background-color: #f68989;
}

.flex-item:nth-child(odd) {
  background-color: #c65d7b;
}