.wrapper {
  height: 100vh;
  background-color: whitesmoke;
  display: grid;
  gap: 5px;
  grid-template-columns:
    [aside-start] 1fr
    [article-start] 2fr;

  grid-template-rows:
    [header-start] 1fr
    [article-start] 2fr
    [footer-start] 1fr;
}

header {
  background-color: #68a7ad;
  grid-column: aside-start / span 2;
}
aside {
  background-color: #eee4ab;
}
article {
  background-color: #99c4c8;
}
footer {
  background-color: #e5cb9f;
  grid-column: aside-start / span 2;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}