*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.carta {
  width: 18rem;
  border: solid 4px black;
}

.carta img {
  width: 100%;
}

.carta__titulo {
  font-size: 1.5rem;
}

.carta__cuerpo {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.carta__texto {
  line-height: 1.2;
  padding-left: 4px;
}

.carta__boton {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
