.ejemplos {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  background-color: whitesmoke;
  font-weight: 400;
}

/* Style */
.style:nth-child(2) {
  font-style: italic;
}

.style:nth-child(3) {
  font-style: oblique;
}

/* Variant */
.variant:nth-child(2) {
  font-variant: small-caps;
}

/* Weight */

.lighter {
  font-weight: lighter;
}

.bolder {
  font-weight: bolder;
}

.cien {
  font-weight: 100;
}

.novecientos {
  font-weight: 900;
}

