
.prueba {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
  }
  
  .int {
    width: min-content;
    height: min-content;
    padding: 20px;
    border: 1px solid;
  }
  
  .content{
      width: 250px;
      height: 250px;
      padding: 2px;
      border:3px solid purple;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .in-block{
      display: block;
  }
  
  .inline{
      width: 250px;
      height: 250px;
      background-color: yellow;
      margin: 10px;
      display: inline;
      
  }
  
  .inline-block{
      width: 250px;
      height: 250px;
      background-color: yellowgreen;
      margin: 10px;
      display: inline-block;  
  }
  
  .content-box{
      box-sizing: content-box;
      width:200px;
      height:200px;
      background-color: tomato;
      margin: 10px;
      padding: 20px;
  }
  
  .border-box{
      box-sizing: border-box;
      width:200px;
      height:200px;
      background-color: tomato;
      margin: 10px;
      padding: 20px;
      border: 10px solid black;
  }