/* Herencia */

h3{
    color: steelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Hereda el color y la fuente del padre(main) */
main h3{
    color: inherit;
    font-family: inherit;
}